# This is a web scrapping project which states that to go to the specified url and fetch the necessary information.

1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [52]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup as sp
import requests as rq
import re

In [53]:
def read_site(site_url):
    site_page = rq.get(site_url)
    
    # Parse the site content with html.parser
    site_soup = sp(site_page.content, 'html.parser') 
    #print (site_soup.prettify())
    
    return (site_soup)

In [54]:
def wiki_func(wiki_soup):
    wiki_head = wiki_soup.find_all('span', class_='mw-headline')
    
    wiki_header_arr = []
    for i in wiki_head:
        wiki_header_arr.append(i.get_text())
    
    wiki_df = pd.DataFrame ({})
    wiki_df['head'] = wiki_header_arr
    
    return wiki_df

In [55]:
def wiki_scrap(w_url):
    wiki_soup = read_site(w_url)

    wiki_df = wiki_func(wiki_soup)
    print ('\n\n')
    print (wiki_df)
    
    return

In [56]:
# call wiki_scrap function to get the headers from 'en.wikipedia.org/wiki/Main_Page'
wiki_scrap('https://en.wikipedia.org/wiki/Main_Page')

                            head
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of
release) and save it in form of a CSV file.

In [57]:
def imdb_func(imdb_soup):
    
    i_nm = []
    i_yr = []
    i_rt = []
    imdb_list = imdb_soup.find_all('div', class_='lister-item mode-detail')
    
    for i in imdb_list:

        imdb_name = i.find_all('a')[1].get_text()
        i_nm.append(imdb_name)
        
        imdb_yr_tag = i.find('span', class_="lister-item-year text-muted unbold")
        imdb_yr = imdb_yr_tag.get_text()
        imdb_yr = re.sub("[^\w]", "", imdb_yr)
        i_yr.append(imdb_yr)
        
        imdb_rate_tag = i.find('span', class_='ipl-rating-star__rating')
        imdb_rate = imdb_rate_tag.get_text()
        i_rt.append(imdb_rate)

    df = pd.DataFrame({})
    df['Movie_Name'] = i_nm
    df['Movie_Year'] = i_yr
    df['Movie_Rating'] = i_rt

    return df

In [58]:
def imdb_top_100movies(i_url):
    imdb_soup = read_site(i_url)    
    imdb_df = imdb_func(imdb_soup)
    print (imdb_df)
    imdb_df.to_csv('imdb_top100movies.csv')
    return

In [59]:
imdb_top_100movies('https://www.imdb.com/list/ls000049962/')

                                           Movie_Name Movie_Year Movie_Rating
0                            The Shawshank Redemption       1994          9.3
1                                       The Godfather       1972          9.2
2                              The Godfather: Part II       1974            9
3                     Il buono, il brutto, il cattivo       1966          8.8
4                                        Pulp Fiction       1994          8.9
5                                    Schindler's List       1993          8.9
6                                        12 Angry Men       1957            9
7                                           Inception       2010          8.8
8                     One Flew Over the Cuckoo's Nest       1975          8.7
9                                     The Dark Knight       2008            9
10     Star Wars: Episode V - The Empire Strikes Back       1980          8.7
11      The Lord of the Rings: The Return of the King       2003          8.9
12                               Shichinin no samurai       1954          8.6
13                                         Fight Club       1999          8.8
14                                         Goodfellas       1990          8.7
15                                          Star Wars       1977          8.6
16                                         Casablanca       1942          8.5
17                                     Cidade de Deus       2002          8.6
18  The Lord of the Rings: The Fellowship of the Ring       2001          8.8
19                       Once Upon a Time in the West       1968          8.5
20                                        Rear Window       1954          8.4
21                            Raiders of the Lost Ark       1981          8.4
22                                             Psycho       1960          8.5
23                                 The Usual Suspects       1995          8.5
24                           The Silence of the Lambs       1991          8.6
25                                              Se7en       1995          8.6
26                              It's a Wonderful Life       1946          8.6
27                                            Memento       2000          8.4
28                                        Toy Story 3       2010          8.3
29              The Lord of the Rings: The Two Towers       2002          8.7
..                                                ...        ...          ...
70                                 Back to the Future       1985          8.5
71                                       The Prestige       2006          8.5
72                    Monty Python and the Holy Grail       1975          8.2
73                                        Raging Bull       1980          8.2
74                                    Pan's Labyrinth       2006          8.2
75                              Nuovo Cinema Paradiso       1988          8.5
76                                Singin' in the Rain       1952          8.3
77                                   Some Like It Hot       1959          8.2
78                       The Bridge on the River Kwai       1957          8.1
79                                           Rashômon       1950          8.2
80                        Once Upon a Time in America       1984          8.4
81                                     The Green Mile       1999          8.6
82                                            Amadeus       1984          8.3
83                                      All About Eve       1950          8.2
84                                  Full Metal Jacket       1987          8.3
85                                Ladri di biciclette       1948          8.3
86                                 The Great Dictator       1940          8.4
87                              2001: A Space Odyssey       1968          8.3
88                                         Braveheart       1995          8.3
89                               Inglourious Basterds       2009          8.3
90                                      The Apartment       1960          8.3
91                                      Der Untergang       2004          8.2
92                                                 Up       2009          8.2
93                                  The King's Speech       2010            8
94                                         Metropolis       1927          8.3
95                                          Gladiator       2000          8.5
96                                        Gran Torino       2008          8.1
97                                          The Sting       1973          8.3
98                                         Unforgiven       1992          8.2
99                                           Oldeuboi       2003          8.4

[100 rows x 3 columns]

3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year
of release) and save it in form of a CSV file.

In [60]:
def imdb_top100_imovies(i_url):
    imdb_soup = read_site(i_url)    
    imdb_df = imdb_func(imdb_soup)
    print (imdb_df)
    imdb_df.to_csv('imdb_top100_imovies.csv')
    return

In [61]:
imdb_top100_imovies('https://www.imdb.com/list/ls056092300/')

                           Movie_Name Movie_Year Movie_Rating
0                     Ship of Theseus       2012            8
1                              Iruvar       1997          8.5
2                     Kaagaz Ke Phool       1959            8
3   Lagaan: Once Upon a Time in India       2001          8.1
4                     Pather Panchali       1955          8.6
5                           Charulata       1964          8.3
6                     Rang De Basanti       2006          8.2
7                               Dev.D       2009            8
8                            3 Idiots       2009          8.4
9                              Awaara       1951          7.9
10                            Nayakan       1987          8.6
11                          Aparajito       1956          8.4
12                    Pushpaka Vimana       1987          8.6
13                             Pyaasa       1957          8.5
14                      Ghatashraddha       1977          7.3
15                             Sholay       1975          8.2
16                           Aradhana       1969          7.6
17              Do Ankhen Barah Haath       1957          8.4
18                             Bombay       1995          8.1
19                       Neecha Nagar       1946          6.8
20                     Do Bigha Zamin       1953          8.4
21                          Garm Hava       1974          8.1
22                             Piravi       1989          7.7
23                      Mughal-E-Azam       1960          8.2
24                        Amma Ariyan       1987          7.1
25                          Madhumati       1958            8
26              Goopy Gyne Bagha Byne       1969          8.8
27                 Gangs of Wasseypur       2012          8.2
28                              Guide       1965          8.4
29                              Satya       1998          8.2
..                                ...        ...          ...
70                            Chandni       1989          6.8
71                    English, August       1994          6.7
72                          Celluloid       2013          7.7
73                    Sagara Sangamam       1983          8.8
74                Munna Bhai M.B.B.S.       2003          8.1
75                           Saaransh       1984          8.2
76                              Guddi       1971          7.2
77                             Vanaja       2006          7.2
78                  Vazhakku Enn 18/9       2012          8.3
79                          Gangaajal       2003          7.8
80                             Angoor       1982          8.3
81                               Guru       2007          7.7
82                    Andaz Apna Apna       1994          8.2
83                             Sangam      I1964          7.5
84                     Oka Oori Katha       1977          7.6
85                       Bhuvan Shome       1969          7.5
86                             Border      I1997          7.9
87                          Parineeta       2005          7.2
88                             Devdas       1955            8
89                          Abohomaan       2009          7.3
90                 Kuch Kuch Hota Hai       1998          7.6
91                         Pithamagan       2003          8.4
92                             Veyyil       2006          7.7
93                           Chemmeen       1965          7.8
94                 Jaane Bhi Do Yaaro       1983          8.4
95                        Apur Sansar       1959          8.5
96                        Kanchivaram       2008          8.1
97                    Monsoon Wedding       2001          7.3
98                              Black       2005          8.2
99                            Deewaar       1975          8.1

[100 rows x 3 columns]

4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [62]:
def book_func(book_soup):
    
    book_nm =[]
    book_auth = []
    book_genr = []
    book_rvw = []
    
    book_list = book_soup.find_all('div', class_='row-fluid article-row')    
    arr =book_list[0:5]
    
    for i in arr:
        
        book_name = i.find_all('a')[1].get_text()
        book_nm.append(book_name)
        
        book_author =i.find('p', class_='sans bold').get_text()
        book_author = re.sub('[^\w]', '', book_author)
        book_auth.append(book_author)
        
        book_genre = i.find_all('a')[2].get_text() +"/"+ i.find_all('a')[3].get_text()
        book_genr.append(book_genre)
        
        book_review = i.find_all('p')[3].get_text()
        book_rvw.append(book_review)

    df = pd.DataFrame({})
    df['Book_Name'] = book_nm
    df['Book_Author'] = book_auth
    df['Book_Genre'] = book_genr
    df['Book_review'] = book_rvw
    
    return df

In [63]:
def book_scrap(b_url):
    book_soup = read_site(b_url)    
    book_df = book_func(book_soup)
    print (book_df)

    return

In [64]:
book_scrap('https://bookpage.com/reviews?book_genre=children_s&page=1')

                               Book_Name  \
0  Share Some Kindness, Bring Some Light
1             A Long Road on a Short Day
2                     A Fort on the Moon
3                   ★ The Little Mermaid
4                            Crow & Snow

                                  Book_Author  \
0                                  AprylStott
1  GaryDSchmidtElizabethStickneyEugeneYelchin
2                       MaggiePounceyLarryDay
3                                JerryPinkney
4                   RobertBroderOlivierTallec

                           Book_Genre  \
0  Children's Picture Book/Children's
1       Children's/Children's Chapter
2  Children's/Children's Picture Book
3  Children's/Children's Picture Book
4  Children's/Children's Picture Book

                                         Book_review
0  Together, Bear and Coco embark on a journey th...
1  Settle in for a wintry journey in A Long Road ...
2  Two brothers, memorably named Fox and Dodge, a...
3  Our most beloved stories seem to grow each tim...
4  A friendly scarecrow named Crow stands alone i...

5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
iii) Top 10 ODI bowlers along with the records of their team and rating.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [65]:
def icc_func(men_odi_soup):
    
    teams = []
    matches = []
    points = []
    ratings = []
    
    row_list = men_odi_soup.find_all('tr')    
    row_list = row_list[1:11]
    for i in row_list:

        team = i.find('span', class_='u-hide-phablet').get_text()
        teams.append(team)
        
        match = i.find_all('td')[2].get_text()
        matches.append(match)
    
        point = i.find_all('td')[3].get_text()
        points.append(point)
        
        rating = i.find_all('td')[4].get_text()
        rating = re.sub('[^\w]', '', rating)
        ratings.append(rating)
        
    df = pd.DataFrame({})
    df['Teams'] = teams
    df['Matchs'] = matches
    df['Points'] = points
    df['Ratings'] = ratings
    
    print (df)
    return

In [66]:
def icc_men_odi(c_url):
    men_odi_soup = read_site(c_url)    
    icc_func(men_odi_soup)

    return

In [67]:
icc_men_odi('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

          Teams Matchs Points Ratings
0       England     44  5,405     123
1         India     50  5,878     118
2   New Zealand     32  3,716     116
3     Australia     37  4,110     111
4  South Africa     31  3,345     108
5      Pakistan     35  3,590     103
6    Bangladesh     34  2,989      88
7     Sri Lanka     39  3,297      85
8   West Indies     43  3,285      76
9   Afghanistan     28  1,549      55

In [68]:
def icc_bats_func(bats_soup):
    
    names_arr = []
    country_arr = []
    ratings_arr = []
    
    row_list = bats_soup.find_all('tr')
    row_list = row_list[2:12]
    
    for i in row_list:
        
        player_name = i.find_all('a')[0].get_text()
        names_arr.append(player_name)
        
        country = i.find('span', class_='table-body__logo-text').get_text()
        country_arr.append(country)
        
        rating = i.find('td', class_='table-body__cell rating').get_text()
        ratings_arr.append(rating)
        
        df = pd.DataFrame({})
        df['Player_Name'] = names_arr
        df['country_arr'] = country_arr
        df['ratings_arr'] = ratings_arr

    print (df)
    return

In [69]:
def icc_batsmen(c_url):
    bats_soup = read_site(c_url)    
    icc_bats_func(bats_soup)

    return

In [70]:
icc_batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

           Player_Name country_arr ratings_arr
0         Rohit Sharma         IND         855
1           Babar Azam         PAK         837
2          Ross Taylor          NZ         818
3  Francois du Plessis          SA         790
4      Kane Williamson          NZ         765
5          Aaron Finch         AUS         762
6         David Warner         AUS         759
7      Quinton de Kock          SA         755
8       Jonny Bairstow         ENG         754
9            Shai Hope          WI         750

In [71]:
def icc_bowl_func(bowl_soup):
    
    name_arr = []
    team_arr = []
    rating_arr = []
    
    row_list = bowl_soup.find_all('tr')
    row_list = row_list[0:10]
    for i in row_list:
        
        print (i)
        break

In [72]:
def icc_bowling(c_url):
    bats_soup = read_site(c_url)    
    icc_bats_func(bats_soup)

    return

In [73]:
icc_bowling('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

        Player_Name country_arr ratings_arr
0    Jasprit Bumrah         IND         719
1  Mujeeb Ur Rahman         AFG         701
2      Chris Woakes         ENG         675
3     Kagiso Rabada          SA         665
4       Pat Cummins         AUS         659
5    Josh Hazlewood         AUS         654
6     Mohammad Amir         PAK         647
7        Matt Henry          NZ         641
8      Jofra Archer         ENG         637
9    Mitchell Starc         AUS         637

6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
ii) Top 10 women’s ODI players along with the records of their team and rating.
iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [74]:
def icc_women_team(w_url):
    women_odi_soup = read_site(w_url)    
    icc_func(women_odi_soup)

    return

In [75]:
icc_women_team('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

          Teams Matchs Points Ratings
0     Australia     15  2,436     162
1         India     15  1,812     121
2       England     14  1,670     119
3  South Africa     16  1,713     107
4   New Zealand     15  1,384      92
5   West Indies     12  1,025      85
6      Pakistan     12    927      77
7    Bangladesh      5    306      61
8     Sri Lanka     11    519      47
9       Ireland      2     25      13

ii) Top 10 women’s ODI players along with the records of their team and rating.